{% trans_default_domain 'email' %}

{# Gets data from parameters set via c975L/ConfigBundle #}
{# Keeps compatibility with <v2.1 where the values were set directly in the Twig template #}
{# In case both are defined, those set via c975L/ConfigBundle will be used #}
{% if config('c975LCommon.site') != null %}
    {% set site = config('c975LCommon.site') %}
{% endif %}
{% if config('c975LEmail.sentFrom') != null %}
    {% set email = config('c975LEmail.sentFrom') %}
{% endif %}
{% if config('c975LCommon.author') != null %}
    {% set author = config('c975LCommon.author') %}
{% endif %}
{% if config('c975LCommon.firstOnlineDate') != null %}
    {% set firstOnlineDate = config('c975LCommon.firstOnlineDate') %}
{% endif %}
{% if config('c975LCommon.logo') != null %}
    {% set logo = absolute_url(asset(config('c975LCommon.logo'))) %}
{% endif %}

{# Copyright #}
{% if firstOnlineDate is defined %}
    {% set copyright = '© ' ~ firstOnlineDate|date('Y') ~ ' - ' ~  'now'|date('Y') %}
{% endif %}
{% if copyright is not defined %}
    {% set copyright = '© ' ~  'now'|date('Y') %}
{% endif %}
{% if site is defined %}
    {% set copyright = copyright ~ ': ' ~ site %}
{% endif %}

{% apply inline_css %}
<!DOCTYPE html>
{# Head #}
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no" />
                <meta name="format-detection" content="telephone=no" />
{# Author #}
                {% if author is defined %}
                    <meta name="author" content="{{ author }}" />
                {% endif %}
{# Copyright #}
                {% if copyright is defined %}
                    <link rel="copyright" title="{{ copyright }}" />
                {% endif %}
            {% endblock %}
{# Stylesheets #}
            {% block stylesheets %}
                <style>
                    {% include('@c975LEmail/emails/styles.min.css') %}
                </style>
            {% endblock %}
        {% endblock %}
    </head>
{# Body #}
    <body id="up">
        {% block body %}
{# Header #}
            {% block header %}
{# No Spam info #}
                {% block noSpam %}
                    {% if email is defined %}
                        <p class="text-center text-muted small">
                            {{ 'text.no_spam'|trans({'%email%': email}) }}
                            <br />
                        </p>
                    {% endif %}
                {% endblock %}
{# Logo #}
                {% block logo %}
                    <h1 class="text-center">
                        {% if logo is defined %}
                            <img src="{{ logo }}" height="50" alt="logo" />
                            <br />
                        {% endif %}
                        {% if site is defined %}
                            {{ site }}
                        {% endif %}
                    </h1>
                {% endblock %}
            {% endblock %}
{# Container #}
            {% block container %}
{# Content #}
                {% block content %}
{# Hello #}
                    {% block hello %}
                        <p>
                            {{ 'label.hello'|trans }},
                            <br />
                        </p>
                    {% endblock %}
                    {% block email_content %}
                    {% endblock %}
                {% endblock %}
            {% endblock %}
{# Footer #}
            {% block footer %}
                <hr />
{# Thanks confidence #}
                <p>
                    {{ 'text.thanks_confidence'|trans|nl2br }}
                    <br />
                    <br />
                    {% if site is defined %}
                        {{ 'text.regards_team'|trans({'%site%': site})|raw|nl2br }}
                        <br />
                    {% endif %}
                </p>
{# User's footer #}
                {% include '@c975LEmail/emails/footer.html.twig' %}
{# Email sent by #}
                {% if site is defined %}
                    <p class="text-muted text-center">
                        {{ 'text.email_sent_by'|trans({'%site%': site})|raw }}
                    </p>
                {% endif %}
{# Copyright #}
                {% if copyright is defined %}
                    <div class="text-center">
                        <ul class="inline">
                            <li>{{ copyright }}</li>
                        </ul>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </body>
</html>
{% endapply %}